body {
  
  margin:0;
  padding: 0;

}

.container {
  display: flex;
}

.main{
  position: relative;
  width: 100%;
  text-align: center;  
}

.flag {
  /* position: absolute; */
  /* position: fixed; */
  /* position: relative; */
  /* box-sizing: border-box; */
  /* box-sizing:content-box; */
  width: 180px;
  height: 90px;
}

.spain {    
  display: inline-block;
  background-color: red;
}
.yellow_line {
  box-sizing: content-box;
  position: absolute;
  background-color:yellow;
  top: 25px;
  width: 180px;
  height: 35px;
  z-index: 10;
}

.arab_emirates {    
  display: inline-block;
  background-color: red;
}
.green {
  box-sizing: content-box;
  background-color:green;
  position: relative;
  width: 140px;
  height: 30px;
  float: right;
}
.white {
  box-sizing: content-box;
  position: relative;
  background-color:white;
  text-align: right;
  float: right;
  width: 140px;
  height: 30px;
}
.black {
  box-sizing: content-box;
  position: relative;
  background-color:black;
  float: right;
  width: 140px;
  height: 30px;
  z-index: 10;
}

.denmark {     
  display: inline-block;
  background-color: red;
}
.white_line_h {
  box-sizing: content-box;
  background-color:white;
  position: relative;
  top: 35px;
  width: 180px;
  height: 15px;
  z-index: 10;
}
.white_line_v {
  box-sizing: content-box;
  position: relative;
  background-color:white;
  top: -15px;
  left: 40px;
  width: 15px;
  height: 90px;
  z-index: 10;
}

.japan {     
  display: inline-block;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.dot {
  box-sizing: content-box;
  background-color:red;
position: relative;
  top: 25%;
  left: 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 10;
}


