body {
  
  margin:0;
  padding: 0;

}

.container {

  background-color: black;
  /* display:inline; */
  /* display: block; */
  display: flex;
  
}

.main{
  
  background-color: pink;
  display: flex;
  display:inline;
  display: block;

  width: 100%;
  text-align: center;  
  
}

.flag {

  box-sizing: border-box;
  /* box-sizing:content-box; */

  width: 200px;
  height: 100px;
}

.spain {    
  /* display: inline; */
  /* display: block; */
  display: inline-block;
  background-color: red;
}
.yellow_line {
  box-sizing: content-box;
  display: inline-block;
  display: flex;
  display: flow-root;
  display: inline;
  display: block;
  
  position: absolute;
  background-color:yellow;
  top: 31px;
  width: 200px;
  height: 35px;
  z-index: 10;
}

.arab_emirates {    
  /* display: inline; */
  /* display: block; */
  display: inline-block;
  background-color: red;
}
.tricolor {

  background-color:black;
  
  box-sizing: border-box;
  /* display: flex;
  display: block;
  display: inline;
  display: flow-root; */
  display: inline-block;
  
  /* position: absolute; */

  top: 160px;
  left: 120px;
  width: 50px;
  height: 100px;
  z-index: 10;
}

.denmark {     
  /* box-sizing: content-box;  */
  display: inline-block;
  background-color: red;
}
.white_line {

  box-sizing: content-box;
  display: block;
  position: absolute;
  background-color:white;
  top: 40px;
  width: 200px;
  height: 20px;
  z-index: 10;
}

.japan {     
  /* box-sizing: content-box;  */
  display: inline-block;
  background-color: white;
}
.dot {

  box-sizing: border-box;
  display: inline-block;
  background-color:red;
  
  /* top: 260px; */
  margin-top: 28px;
  left: 450px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  z-index: 10;
}


